<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head', {pagetitle: 'SE Index Tab'}) %>
    </head>
    <main>
        <div style="text-align: center;">
            <h1>Welcome to Node Example!</h1>
            <p>You made it.</p>
            <a href="/first">First</a>
            <a href="/second">Second</a>
        </div>
    </main>
</html>