<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" type= "text/CSS" href="CSS/homepages.css">
    </head>
   <style>
            .navigationPanel{
            background-color: #791910;
            margin: 0%;
            display: grid;
            grid-auto-flow: column;       
            grid-gap: 3rem;
            box-sizing: border-box;
            border:  solid #791910;
        }

        .navigationPanel p{
            font-size: x-large;
            color: white;
            position: relative;
            left: 5rem;
        }

        .navigationPanel a{
            font-size: x-large;
            color: #000;
            text-align:center;
            line-height: 3;
        }



        .buttons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 2rem;
        }

        .body{
            display: grid;
            grid-auto-flow: column;
        }

        .buttons button{
            background-color: #d7bab7;
            border-color: black;
            font-size: x-large;    
            font-weight: bold;
            margin: 1rem;     
            height: 3rem;      
        }

        .buttons button:hover{
            background-color: #9a8381;
        }

        .logo{
            display: grid;
            grid-auto-flow: column;
        }
   </style>
    <body>
        <div class="navigationPanel">
           <p>Administrator</p> 
           <div></div>
           <div></div>
           <button type="button" onclick ="location.href = 'help-page';">Help</button>
           <a href>Log Out</a>
        </div>
        <div class = "body">
            <div></div>
            <div class="buttons">
                <button type="button" onclick="location.href='administrator-addCourses';">Add Courses</button> <!--only this button works--> 
                <button type="button" onclick="location.href = 'administrator-removeCourses';">Remove Courses</button> 
                <!--<button type="button">Manage Students</button> ?-->
                <button type="button" onclick="location.href='course-list-page';">Course Catalogs</button> <!--and this button too-->
            </div>
            <div></div>
        </div>
        <div class = "logo">
            <div></div>
            <img src="Resources/TrinityLogo.png"style="width: 400px; height=400px">
        </div>
    </body>
</html>