<!DOCTYPE html>
<html lang="en">
<head>
  <title>Course List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-inverse" style="background-color: #840705;">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color: white;">TigerFeet</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-search"></span> Find Course</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
          </ul>
        </div>
      </nav>
</div>
<div class="container">
    <div class="row"    style="margin-bottom: 2rem;">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">       
            <div class="dropdown"> 
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: #791910;">Department
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">CSCI</a></li>
              <li><a href="#">GRST</a></li>
              <li><a href="#">URBS</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2">          
          <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: #791910;">Credits
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: #791910;">Days
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                    <li><a href="#">M,W,F</a></li>
                    <li><a href="#">T,Th</a></li>
                    <li><a href="#">M,W</a></li>
                    </ul>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: #791910;">Pathways
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                    <li><a href="#">I forgor them</a></li>
                    <li><a href="#">I forgor them</a></li>
                    <li><a href="#">I forgor them</a></li>
                    <li><a href="#">I forgor them</a></li>
                    <li><a href="#">I forgor them</a></li>
                    <li><a href="#">I forgor them</a></li>
                    <li><a href="#">I forgor them</a></li>
                    </ul>
            </div>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn" style="background-color: #ddb9b6;">Filter</button>
        </div>

    </div>
</div>
<div class="container">
<table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th scope="col">Class ID</th>
                <th scope="col">Course Info</th>
                <th scope="col">Days</th>
                <th scope="col">Time</th>
                <th scope="col">Instructor</th>
                <th scope="col"></th>
            </tr>
            <tr>
                <td>CSCI-1320-1</td>
                <td><button data-toggle="collapse" data-target="#demo" style="background-color:#b9291b8e;">Principle of Software Engineering</button>

                <div id="demo" class="collapse">
                    This is a class all about cool things like programming and having no idea whats happening i guessi should add more text incase some professor goes above and beyond and really just CRAMS the box full of text, like a few paragrahps or smth idk
                    This is a class all about cool things like programming and having no idea whats happening i guessi should add more text incase some professor goes above and beyond and really just CRAMS the box full of text, like a few paragrahps or smth idk
                    This is a class all about cool things like programming and having no idea whats happening i guessi should add more text incase some professor goes above and beyond and really just CRAMS the box full of text, like a few paragrahps or smth idk
                    This is a class all about cool things like programming and having no idea whats happening i guessi should add more text incase some professor goes above and beyond and really just CRAMS the box full of text, like a few paragrahps or smth idk
                </div></td>
                <td>M,W,F</td>
                <td>10:30-11:20 AM</td>
                <td>Matthew Hibbs</td>
                <td><button type="button" class="btn" style="background-color: #ddb9b6;">Register</button></td>
            </tr>
            <tr>
                <td>CSCI-1320-2</td>
                <td><button data-toggle="collapse" data-target="#demo" style="background-color:#b9291b8e;">Principle of Software Engineering</button>
                <div id="demo" class="collapse">
                    This is a class all about cool things like programming and having no idea whats happening i guessi should add more text incase some professor goes above and beyond and really just CRAMS the box full of text, like a few paragrahps or smth idk
                    This is a class all about cool things like programming and having no idea whats happening i guessi should add more text incase some professor goes above and beyond and really just CRAMS the box full of text, like a few paragrahps or smth idk
                    This is a class all about cool things like programming and having no idea whats happening i guessi should add more text incase some professor goes above and beyond and really just CRAMS the box full of text, like a few paragrahps or smth idk
                    This is a class all about cool things like programming and having no idea whats happening i guessi should add more text incase some professor goes above and beyond and really just CRAMS the box full of text, like a few paragrahps or smth idk
                </div></td>
                <td>M,W,F</td>
                <td>11:30-12-20 AM</td>
                <td>Seth Fogartree</td>
                <td><button type="button" class="btn" style="background-color: #ddb9b6;">Register</button></td>
            </tr>
        </tbody>
    </thead>
</table>
</div>
</body>
</html>