<!--
                                  HELP PAGE PAGE
Page comes with HTML text for helpful assistance and instructions and the standard Top Nav Bar.
-->

<!DOCTYPE html>
<html>
    <head>
        <title>Course Search</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bottom three links provide access to BootStrap and CSS stylesheet-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <!--Nav Bar at top of Screen-->
        <div class="container">
            <nav class="navbar navbar-inverse" style="background-color: #840705;">
                <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" style="color: white;">TigerFeet</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <!--Find Course Button-->
                    <li><a href="#"><span class="glyphicon glyphicon-search"></span> Find Course</a></li>
                    <!--Help Button-->
                    <li><a href="#"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
                    <!--Log Out Button-->
                    <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
                </ul>
                </div>
            </nav>
        </div>

        <!--HTML Text for assistance and instructions-->
        <div class="container">
            <p style="text-align: center; font-size: larger;">This is the help page:)</p>
            <p style="text-align: center; font-size: larger;">Copy and paste link for Student Manual</p>
            <!-- <p style="text-align: center; font-size: larger;">https://docs.google.com/document/d/1saTCOuvocutODZzqiTMwBVjQOIQgDOzVd7USaZnHZnI/edit?usp=sharing</p> -->
            <a href="url">https://docs.google.com/document/d/1saTCOuvocutODZzqiTMwBVjQOIQgDOzVd7USaZnHZnI/edit?usp=sharing</a>
        </div>
    </body>
</html>