<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<script>
		function login() {
			// Perform any necessary client-side validation
			//This is typically where backend functionality is put
			//This is where we'd check for a user
			// Redirect to the successful login page

			window.location = "/successfulLogin";
		}
	</script>
</head>
<body>
	<h2>Login</h2>
	<form onsubmit="login(); return false;">
		<label>Username:</label>
		<input type="text" name="username"><br><br>
		<label>Password:</label>
		<input type="password" name="password"><br><br>
		<input type="submit" value="Login">
	</form>
</body>
</html>
