<!--
                                  MANAGE COURSES PAGE
Page comes with a submit button for View Registered Courses and the standard Top Nav Bar.
-->

<!DOCTYPE html>
<html>
    <head>
        <title>Manage Courses</title>
        <link rel="stylesheet" href="CSS/homepages.css">
    </head>
   
    <body>
        <div class="navigationPanel">
            <!--Associated Role-->
           <a href='student-page.ejs';>Student</a> 
           <div></div>
           <div></div>
           <a href>Help</a>
           <a href>Log Out</a>
        </div>
        <div class = "body">
            <div></div>
            <div class="buttons">
                <!--View Registered Classes Button-->
                <button type="button">View Registered Classes</button>
                
            </div>
            <div></div>
        </div>
        <div class = "logo">
            <div></div>
            <!--Trinity Logo-->
            <img src="/TigerPaws/Resources/TrinityLogo.png"style="width: 400px; height=400px">
        </div>
    </body>
</html>