<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="CSS/homepages.css" type="text/css">
    </head>
   
    <body>
        <div class="navigationPanel">
            <!--Navigation Bar at the Top of the Screen-->
           <p>Administrator</p> 
           <div></div>
           <div></div>
           <a href>Help</a>
           <a href>Log Out</a>
        </div>
        <div class = "body">
            <div></div>
            <div class="buttons">
                <!--Main Page Buttons-->
                <button type="button">Manage Courses</button>
                <button type="button">Manage Users</button>
                <button type="button">Manage Students</button>
                <button type="button">Course Catalogs</button>
            </div>
            <div></div>
        </div>
        <div class = "logo">
            <div></div>
            <img src="/TigerPaws/Resources/TrinityLogo.png"style="width: 400px; height=400px">
        </div>
    </body>
</html>