<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="CSS/homepages.css">
    </head>
   
    <body>
        <div class="navigationPanel">
           <p>Student</p> 
           <div></div>
           <div></div>
           <a href>Help</a>
           <a href>Log Out</a>
        </div>
        <div class = "body">
            <div></div>
            <div class="buttons">
                <button type="button" onclick = "location.href = 'course-list-page';">Search Courses</button>
                <button type="button" onclick = "location.href = 'manage-courses-student';">View Registered Classes</button>
            </div>
            <div></div>
        </div>
        <div class = "logo">
            <div></div>
            <img src="/TigerPaws/Resources/TrinityLogo.png"style="width: 400px; height=400px">
        </div>
    </body>
</html>