<!--
                                  REMADE STUDENT PAGE
Page comes with a button for Seearch Courses and View Registered Courses. Furthermore, it has the 
standard Top Nav Bar and the Trinity Logo at the bottom of the page.

Improvements from the original page include the use of Bootstrap for centering and placing the HTML
elements in an invisible grid. It is much easier and faster to use. A CSS style sheet and image file
was also created to standardize the process of styling reoccuring HTML elements and accessing images. 
-->

<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <%- include('partials/home-navigation-bar.ejs')%>

        <!--Link to CSS style sheet-->
        <link rel="stylesheet" href="CSS/homepages.css">
    </head>
    <style>
        .navigationPanel{
        background-color: #791910;
        margin: 0%;
        display: grid;
        grid-auto-flow: column;       
        grid-gap: 3rem;
        box-sizing: border-box;
        border:  solid #791910;
    }

    .navigationPanel p{
        font-size: x-large;
        color: white;
        position: relative;
        left: 5rem;
    }

    .navigationPanel a{
        font-size: x-large;
        color: #000;
        text-align:center;
        line-height: 3;
    }



    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2rem;
    }

    .body{
        display: grid;
        grid-auto-flow: column;
    }

    .buttons button{
        background-color: #d7bab7;
        border-color: black;
        font-size: x-large;    
        font-weight: bold;
        margin: 1rem;     
        height: 3rem;      
    }

    .buttons button:hover{
        background-color: #9a8381;
    }

    .logo{
        display: grid;
        grid-auto-flow: column;
    }
</style>
    <body>
        
        <div class = "body">
            <div></div>
            <!--Main Page Buttons-->
            <div class="buttons">

                <!--Search Courses Button-->
                <button type="button" onclick = "location.href = 'course-search-page';">Search Courses</button>
                <!--View Registed Classes Button-->
                <button type="button" onclick = "location.href = 'manage-courses-student';">
                    View Registered Classes</button>
            </div>
            <div></div>
        </div>
        <div class = "logo">
            <div></div>
            <!-- Trinity Logo at the bottom of the page -->
            <img src="Resources/TrinityLogo.png"style="width: 400px; height=400px">
        </div>
    </body>
</html>