<!--
                                  SUCCESSFUL LOGIN PAGE
Displays "Successful Login" whenever a valid username and password is entered
-->

<!DOCTYPE html>
<html>
<head>
	<!--Text-->
	<title>Successful Login</title>
</head>
<body>
	<h2>Sucessful Login</h2>
	<a href="/course-list-page">Course Manager</a>
</body>
</html>
