.navigationPanel{
    background-color: #791910;
    margin: 0%;
    display: grid;
    grid-auto-flow: column;       
    grid-gap: 3rem;
    box-sizing: border-box;
    border: 1rem solid #791910;
}

.navigationPanel p{
    font-size: x-large;
    color: white;
}

.navigationPanel button{
    font-size: large;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
}

.body{
    display: grid;
    grid-auto-flow: column;
}

.buttons button{
    background-color: #d7bab7;
    border-color: black;
    font-size: x-large;    
    font-weight: bold;
    margin: 1rem;           
}

.buttons button:hover{
    background-color: #9a8381;
}